/* Header */
#drawerContainer {
  display: flex;
  background-color: var(--baseBackground);
  width: 220px;
  height: 100vh;
}
#simplebar {
  display: flex;
  width: 100%;
  overflow: auto;
}
#newChatButtonContainerMobile {
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
}

/* AlertDialog */

/* SuccessSnackbar */
#successContainer {
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#successCloseIcon{
  margin: 0;
  padding: 0;
}

/* ErrorSnackbar */
#errorContainer {
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#closeIcon{
  margin: 0;
  padding: 0;
}

/* ThreeDotMenu */
#verticalMenuContainer {
  color: var(--historyColor);
  padding: 0;
  margin: 0;
  display: flex;
  height: auto;
  width: 20px;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}
#verticalMenuContainer:hover {
  opacity: 75%;
}
#verticalMenuContainer:active {
  opacity: 50%;
}
#verticalMenuButton {
  padding-bottom: 2px;
}